

$white: #ffffff;
$faint-gray: #f6f6f6;
$light-gray: #f0f0f0;
$medium-gray: #d6d4d4;
$dark-gray: #333333;
$black: #000000;

$font-primary: "Inter", sans-serif;
$font-accent: "Pattaya", sans-serif;
